body {
  font-family: 'Segoe UI';
  background-color: #f3f3f3;
}
.box-container {
  background-color: white;
  width: 700px;
  margin: 5% auto;
  padding: 40px;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, .1);
}
.box-container h1 {
  margin: 40px;
  margin-top: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}
table th, table td {
  border: 2px solid #dee2e6;
  padding: .75em;
  border-left: 0;
  border-right: 0;
  text-align: left;
}
table tbody tr:nth-of-type(odd) {
  background-color: rgba(0,0,0,.05);
}
table tbody tr:hover {
  background-color: #f0f0f0;
}
